<html>

<head>
<title>Descripción de los datos de consumo energético</title>
</head>

<body>
<FONT SIZE=4>
<h1>Descripción de los datos</h1>

<p>Nuestros datos contienen información sobre mediciones de energía de una casa en Sceaux (7km of Paris, France) 
en los meses de Diciembre de 2006 a Noviembre de 2010 (47 meses). Contiene un total de 2075259 medidas en 10 
varaibles que explicaremos a continuación.</p>

<div class="panel-group transparent-panel-group" >
        <div class="panel panel-default">
        

            <div class="panel-body text-left">
            <h4>Variables del dataset</h4>
            </br>
              <ul>
                      <li>Date: Fecha en formato dd/mm/yyyy</li>
                      <li>Time: Hora en formato hh:mm:ss</li>
                      <li>global_active_power: potencia activa media global por minuto en el hogar (kw). Es la potencia “útil”, la que consumen los equípos eléctricos</li>
                      <li>global_reactive_power: potencia reactiva media global por minuto en el hogar (kw)</li>
                      <li>voltage: Voltaje medio por minuto (voltios)</li>
                      <li>global_intensity: Intensidad media de corriente por minuto en el hogar (amperios) household global minute-averaged current intensity (in ampere)</li>
                      <li> sub_metering_1: energía registrada por el submedidor 1 (Wh de energía activa). Corresponde a: <ul><li> Cocina: lavavajillas, horno microondas (no placas de inducción)</li></ul>  </li>
                      <li> sub_metering_1: energía registrada por el submedidor 2 (Wh de energía activa). Corresponde a: <ul><li>Lavadero: que contiene lavadora, secadora, frigorífico y luz</li> </ul></li>
                      <li> sub_metering_1: energía registrada por el submedidor 3 (Wh de energía activa). Corresponde a: <ul><li>Termo eléctrico y aire acondicionado</li></ul></li>

              </ul>
            </div>
        </div>
      </div>


</font>
</body>
</html>


