<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <!-- Bootstrap CSS -->
 
<title>Descripción de los datos de consumo energético</title>
</head>

<body>
<FONT SIZE=4>
<div>
<h1>Ejemplo real de submedición eléctrica</h1>
<p>
A continuación vamos a exponer un ejemplo real de casa submeterizada, donde visualizaremos el consumo energético global y de cada submedidor situado en tres zonas de la casa: cocina, lavadero y otro correspondiente al termo eléctrico y aire acondicionado.
También expondremos un pronóstico del consumo energético futuro.
</p>
<p style=" text-align: center;">
 <img src="submedicion.png"  style="width:70;height:150px;"> 
 </p>
</div>
<h2>Descripción de los datos</h2>
<div>
<p>Nuestros datos contienen información sobre mediciones de energía de una casa en Sceaux (7km of Paris, France) 
en los meses de Diciembre de 2006 a Noviembre de 2010 (47 meses). Contiene un total de 2075259 medidas en 10 
variables que explicaremos a continuación.</p>
</div>
</br>
<!--

<div class="panel-group transparent-panel-group" >
        <div class="panel panel-default">
            <div class="panel-body text-left">
          <h1 class="w3-center">Variables</h1>
            </br>
              <ul class="list-group list-group-flush">
  <li class="list-group-item">Date: Fecha en formato dd/mm/yyyy  </li>
  <li class="list-group-item">Time: Hora en formato hh:mm:ss</li>
  <li class="list-group-item">global_active_power: potencia activa media global por minuto en el hogar (kw). Es la potencia “útil”, la que consumen los equípos eléctricos</li>
  <li class="list-group-item">global_reactive_power: potencia reactiva media global por minuto en el hogar (kw)                                                           </li>
  <li class="list-group-item">global_intensity: Intensidad media de corriente por minuto en el hogar (amperios) household global minute-averaged current intensity (in ampere)</li>
  <li class="list-group-item">sub_metering_1: energía registrada por el submedidor 1 (Wh de energía activa). Corresponde a: <ul><li> Cocina: lavavajillas, horno microondas (no placas de inducción)</li></ul></li>
  <li class="list-group-item"> sub_metering_2: energía registrada por el submedidor 2 (Wh de energía activa). Corresponde a: <ul><li>Lavadero: que contiene lavadora, secadora, frigorífico y luz</li> </ul></li>
  <li class="list-group-item"> sub_metering_1: energía registrada por el submedidor 3 (Wh de energía activa). Corresponde a: <ul><li>Termo eléctrico y aire acondicionado</li></ul></li>

</ul>
            </div>
        </div>
      </div>
      
-->
      
<div class="panel-group transparent-panel-group" >
<h2>Variables</h2>
<div class="w3-row w3-container row app-links">


<h1 class="w3-center">Fecha y hora</h1>
</br>
  <div class="w3-col s6  w3-center">
 <img src="084-calendar.png" alt="Uno"> 
    <h2>Date</h2>
    <p>Fecha de la medición</p>
  </div>
  

  
  
  <div class="w3-col s6  w3-center">
<img src="079-clock.png" alt="Dos">
    <h2>Time</h2>
    <p>Hora de la medición</p>
  </div>
  
</div>


<div class="w3-row w3-container row app-links">
<h1 class="w3-center">Energía</h1>
</br>

<div class="w3-col s6  w3-center">
    <img   src="182-power.png" alt="Tres">
    <h2>Global Active Power</h2>
    <p>Energía total consumida por los equipos eléctricos.
    </br> (Vatios-hora)
    </p>
  </div>
  
  <div class="w3-col s6  w3-center">
    <img   src="271-blocked.png" alt="Tres">
    <h2>Energía no submeterizada</h2>
    <p>Se trata de la energía consumida correspondiente a la parte de la casa no submeterizada. </br> (vatios-hora)</p>
  </div>
  
</div>

</br>

<div class="w3-row w3-container row app-links">
<h1 class="w3-center">Submedición eléctrica</h1>
  </br>
<div class="w3-col s4  w3-center">
    <img   src="168-meter2.png" alt="Tres">
    <h2>Cocina</h2>
    <p>Energía registrada por el submedidor 1 situado en la cocina</br> 
    (Wh de energía activa)</p>
     <p>Lavavajillas, horno microondas (no placas de inducción)</p>
  </div>
  
  <div class="w3-col s4  w3-center">
    <img   src="167-meter.png" alt="Tres">
    <h2>Lavadero</h2>
    <p>Energía registrada por el submedidor 2 situado en el lavadero </br> (Wh de energía activa)</p>
     <p>Lavadora, secadora, frigorífico y luz</p>
  </div>
  
  <div class="w3-col s4  w3-center">
    <img   src="168-meter2.png" alt="Tres">
    <h2>Aire acondicionado y termo eléctrico</h2>
    <p>Energía registrada por el submedidor 3</br> (Wh de energía activa)</p>
     <p>Aire acondicionado y termo eléctrico</p>
  </div>
</div>
</div>
</font>
</body>
</html>


