<html>

<head>
<title>Gráficas del consumo semanal</title>
</head>

<body>

<div class="row">
  <div class="column">
  <img src="Consumo_SemanalMedioSemana52_Comparacion_09_06-08.png" alt="Semanalmedio52" width="500" height="600">
  </div>
  <div class="column">
    <img src="Consumo_SemanalMedio_Comp_09_06-08.png" alt="Semanalmedio52" width="500" height="600"></div>
</div>



<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
